## Build results
bin/
obj/
publish/

## Visual Studio
.vs/
*.user
*.suo
*.cache
*.log
*.tmp
*.db
*.sln
## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.Development.json
appsettings.Production.json

dataprotection-keys/


## Runtime logs
logs/
